<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.1" targetFramework="net461" />
  <package id="PresentationTheme.Aero" version="0.1.6444.1133" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="net461" />
</packages>